[submodule ".shell/custom.d/shrc-FJITSU-ESPRIMO"]
	path = .shell/custom.d/shrc-FJITSU-ESPRIMO
	url = git@github.com:gidoichi/shrc-FJITSU-ESPRIMO.git
[submodule ".shell/custom.d/shrc-Dimension-8300"]
	path = .shell/custom.d/shrc-Dimension-8300
	url = git@github.com:gidoichi/shrc-Dimension-8300.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/doomemacs/doomemacs.git
[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto.git
