name: Sync Diff Files
on:
  push:
  workflow_dispatch:
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - run: make submodule diff && git diff --exit-code
